<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Teste serasa</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <h1 style="text-align: center; background-color: grey; padding: 1%; font-family: serif; font-size: 250%;">Sistema de Classificação de Empresas</h1>
        {%block main%}
        {%endblock%}
    </body>
</html>