{%extends "base.html"%}
{%block main%}
{% if empresas != []: %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">nome</th>
        <th scope="col">índice</th>
        <th scope="col">Notas</th>
        <th scope="col">Débitos</th>
      </tr>
    </thead>
    <tbody>
    {% for empresa in empresas: %}
      <tr>
        <td>{{empresa.nome}}</td>
        <td>{{empresa.indice}}</td>
        <td>{{empresa.notas}}</td>
        <td>{{empresa.debitos}}</td>
        <td><button type="button" class="btn btn-secondary"><a href="/adicionar_notas_debitos/{{empresa.nome}}" style="text-decoration:none;color:black;">Editar</a></button>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else: %}
<p>Não há empresas cadastradas</p>
{% endif %}
<div style="text-align: center;">
<button type="button" class="btn btn-secondary btn-lg"><a href="/cadastrar_empresa" style="text-decoration:none;color:black;">Adicionar empresa</a>
</button></div>
{%endblock%}