{%extends "base.html"%}
{%block main%}
<table>
    <tr>
        <th>nome</th>
        <th>índice</th>
        <th>notas</th>
        <th>debitos</th>
        <th></th>
    </tr>
    {% if empresas != []: %}
    {% for empresa in empresas %}
    <tr>
        <td>empresa.nome</td>
        <td>empresa.indice</td>
        <td>empresa.notas</td>
        <td>empresa.debitos</td>
        <td><a href="/adicionar_notas_debitos/{{empresa.nome}}">Editar</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
<a href="/cadastrar_empresa">Adicionar empresas</a>
{%endblock%}